@font-face {
  font-family: "Finlandica";
  src: url("./assets/fonts/finlandica-regular.eot");
  src: url("./assets/fonts/finlandica-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/finlandica-regular.woff2") format("woff2"),
    url("./assets/fonts/finlandica-regular.woff") format("woff"),
    url("./assets/fonts/finlandica-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Finlandica Bold";
  src: url("./assets/fonts/finlandica-bold.eot");
  src: url("./assets/fonts/finlandica-bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/finlandica-bold.woff2") format("woff2"),
    url("./assets/fonts/finlandica-bold.woff") format("woff"),
    url("./assets/fonts/finlandica-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0.5em;
  padding: 0.5em 0.5em;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

body {
  font-family: "Finlandica", sans-serif;
  background: white;
}

p,
h1,
h2,
h3,
h4,
pre,
html,
body {
  padding: 0;
  margin: 0;
}

.markup pre {
  font-size: 70%;
}
