@import "../variables.scss";

.titleContainer {
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}
.presentation {
  font-size: 800%;
  margin-left: 5vw;
}
.author {
  color: $secondaryTextColor;
  font-size: 400%;
  margin-right: 5vw;
  justify-self: end;
}
