@import "./variables.scss";

@font-face {
  font-family: "Finlandica";
  src: url("./assets/fonts/finlandica-regular.eot");
  src: url("./assets/fonts/finlandica-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/finlandica-regular.woff2") format("woff2"),
    url("./assets/fonts/finlandica-regular.woff") format("woff"),
    url("./assets/fonts/finlandica-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Finlandica Bold";
  src: url("./assets/fonts/finlandica-bold.eot");
  src: url("./assets/fonts/finlandica-bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/finlandica-bold.woff2") format("woff2"),
    url("./assets/fonts/finlandica-bold.woff") format("woff"),
    url("./assets/fonts/finlandica-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Finlandica", sans-serif;
  background: $backgroundColor;
}

h1,
h2,
h3,
h4,
html,
body {
  padding: 0;
  margin: 0;
  color: $primaryColor;
}

.presentationHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  align-self: start;
}
.presentationLogo {
  width: 100%;
}

.speakerImageContainer {
  filter: drop-shadow(0.1em 0.1em 0.1em rgba($primaryColor, 0.2));
}

.speakerImage {
  max-width: 300px;
  max-height: 300px;
  width: 70%;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.titlePageContainer,
.presentationContainer {
  min-height: 100vh;
  max-height: 100vh;
  align-items: center;
}

.presentationContainer {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.presentationContent {
  font-size: 400%;
  margin-left: 1em;
  margin-right: 1em;
}
.presentationInterval {
  margin-top: 0.5em;
  text-align: center;
}
.speakerTitle {
  font-size: 90%;
}
.speakerName {
  font-size: 70%;
}

.presentationFooter {
}
